body {
    background-color: #0f172a;
    color: white;
    font-family: Arial
    margin: 0
    padding: 20px;

    display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
}

h1 {
    grid-column: span 2;
    text-align: center;
    color: orange;
}

.game {
    background-color: #1e293b;
    padding: 15px;
    border-radius: 10px;

}
img {
    width: 100%;
    border-radius: 10px;
}
h2 {
    color: black;
}

button {
    background-color: darkolivegreen;
    border: none;
    padding: 10px;
    cursor: pointer; 
}
button:hover {
    background-color: darkorange;
}